﻿@model List<MyPortfolio.Models.TblSkills>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<h2>My Skills Page</h2>

<table class="table table-bordered table-hover">
    <tr>
        <th style="align-content : center ; text-align : center">#</th>
        <th style="align-content : center ; text-align : center">Technology Name</th>
        <th style="align-content : center ; text-align : center">Success Value(Percentage)</th>
        <th style="align-content : center ; text-align : center ; background-color : red">Delete</th>
        <th style="align-content : center ; text-align : center ; background-color : green">Update</th>

    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td style="align-content : center ; text-align : center">@item.SkillId</td>
            <td style="align-content : center ; text-align : center">@item.SkillName</td>
            <td style="align-content : center ; text-align : center">@item.Value</td>

            <td style="align-content : center ; text-align : center"><a href="/Skill/DeleteSkill/@item.SkillId" class="btn btn-outline-danger">Delete</a></td>
            <td style="align-content : center ; text-align : center"><a href="/Skill/UpdateSkill/@item.SkillId" class="btn btn-outline-success">Update</a></td>

        </tr>
    }
</table>
<br />
<a href="/Skill/AddSkill" class="btn btn-outline-dark">Add New Technology</a>
