@model List<MyPortfolio.Models.TblAbouts>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<h3>Hakkımda</h3>

<table class="table table-bordered">
    <tr>
        <th style="text-align : center">#</th>
        <th style="text-align : center">Resim URL</th>
        <th style="text-align : center">Başlık</th>
        <th style="text-align : center">Açıklama</th>
        <th style="text-align : center; background-color : red">Sil</th>
        <th style="text-align : center; background-color : green">Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AboutId</td>
            <td>@item.ImageUrl</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td style="text-align : center"><a href="#" class="btn btn-outline-danger">Sil</a></td>
            <td style="text-align : center"><a href="#" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>

<br />
<button class="btn btn-outline-dark">Yeni Hakkımda Ekle</button>