@model MyPortfolio.Models.TblServices
@{
    ViewBag.Title = "UpdateService";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<br />
<h3>Hizmet Updateme Sayfası</h3>

<form method="post">
    <input type="hidden" name="ServiceId" value="@Model.ServiceId" />
    <label>Resim URL</label>
    <input type="text" name="Icon" value="@Model.Icon" class="form-control" />
    <br />
    <label>Hizmet Adı</label>
    <input type="text" name="Title" value="@Model.Title" class="form-control" />
    <br />
    <label>Açıklama</label>
    <textarea name="Description" class="form-control">@Model.Description</textarea>
    <br />
    <button class="btn btn-outline-primary">Update</button>
</form>

