@model MyPortfolio.Models.TblCategories
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<br />
<h3>Adding New Category Page</h3>

<form method="post">
    <label>Category Name</label>
    <input type="text" name="CategoryName" class="form-control" />
    <br />
   

    <button class="btn btn-outline-primary">Add</button>

</form>
