@model List<MyPortfolio.Models.TblCategories>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}
<br />
<br />
<h3>Kategoriler Sayfası</h3>

<table class="table table-bordered">
    <tr>
        <th style="text-align : center">#</th>
        <th style="text-align : center">Kategori Adı</th>        
        <th style="text-align : center; background-color : red">Sil</th>
        <th style="text-align : center; background-color : green">Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.CategoryName</td>
            <td style="text-align : center"><a href="/Category/DeleteCategory/@item.CategoryId" class="btn btn-outline-danger">Sil</a></td>
            <td style="text-align : center"><a href="/Category/UpdateCategory/@item.CategoryId" class="btn btn-outline-success">Güncelle</a></td>
            
        </tr>
    }
</table>

<br />
<a href="/Category/AddCategory" class="btn btn-outline-dark">Yeni Kategori Ekle</a>
