@model MyPortfolio.Models.TblProjects
@{
    ViewBag.Title = "AddProject";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<br />
<h3>Adding New Project Page</h3>

<form method="post">
    <label>Image URL</label>
    <input type="text" name="ImageUrl" class="form-control" />
    <br />
    <label>Project Name</label>
    <input type="text" name="ProjectName" class="form-control" />
    <br />
    <label>Category Name</label>
    @*@Html.DropDownListFor(
        model => model.CategoryId,
        (List<SelectListItem>)ViewBag.CategoryList,
        "Kategori Seçiniz",
        new { @class = "form-control" }*@

    @Html.DropDownListFor(x=>x.CategoryId,(List<SelectListItem>)ViewBag.category,"Select Category", new {@class = "form-control"})
    

    
    
    <br />
    <label>Github URL</label>
    <input type="text" name="GitHubUrl" class="form-control" />
    <br />

    <br />
    <button class="btn btn-outline-primary">Add</button>


</form>

