@model MyPortfolio.Models.TblTestimonials
@{
    ViewBag.Title = "AddTestimonial";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<h3>Adding New Testimonial Page</h3>

<form method="post">
    <label>Image URL</label>
    <input type="text" name="ImageUrl" class="form-control" />
    <br />
    <label>Comment</label>
    <input type="text" name="Comment" class="form-control" />
    <br />
    <label>Name Surname</label>
    <input name="NameSurname" class="form-control" />
    <br />
    <label>Title</label>
    <input name="Title" class="form-control" />
    <br />
    <label>Comment Date</label>
    <input type="datetime" name="CommentDate" class="form-control" value="@DateTime.Now" />
    <br />
    

    <button class="btn btn-outline-primary">Add</button>


</form>
