@model MyPortfolio.Models.TblTeams
@{
    ViewBag.Title = "AddTeam";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<h3>Adding New Teammate Page</h3>

<form method="post">
    <label>Image URL</label>
    <input type="text" name="ImageUrl" class="form-control" />
    <br />
    <label>Name Surname</label>
    <input type="text" name="NameSurname" class="form-control" />
    <br />
    <label>Title</label>
    <input name="Title" class="form-control" />
    <br />
    <label>Description</label>
    <input type="text" name="Description" class="form-control" />
    <br />
    <label>Twitter Url</label>
    <input type="text" name="TwitterUrl" class="form-control" />
    <br />
    <label>Facebook Url</label>
    <input type="text" name="FacebookUrl" class="form-control" />
    <br />
    <label>LinkedIn Url</label>
    <input type="text" name="LinkedInUrl" class="form-control" />
    <br />
    <label>Instagram Url</label>
    <input type="text" name="InstagramUrl" class="form-control" />
    <br />

    <button class="btn btn-outline-primary">Add</button>


</form>

